/* 
    Document   : general.css
    Created on : 4/04/2013, 07:36:11 PM
    Author     : reuhtte
    Description:
        Purpose of the stylesheet follows.
*/

body {
    margin: 0;
    font-family: Arial, serif;
    font-size: 12px;
    background-image: url("/images/main-bg.png");
    background-repeat: repeat;
    text-align: center;
}

body a {
    text-decoration: none;
}



#header {
    background-image: url("/images/header.png");
    background-repeat: repeat;
    background-position: left top;
    height: 200px;
    text-align: center;
}

#h_main {
    text-align: left;
    position: relative;
    height: 85px;
}

#h_main_text {
    font-size: 2em;
    font-family: 'Bevan', cursive;
    color: white;
    padding-top: 10px;
    padding-left: 17px;
}

#h_submain_text {
    font-family: 'Droid Sans', sans-serif;
    color: #ddd;
    font-size: 1.6em;
    margin-right: 17px;
    padding-left: 17px;
}

#h_main_menu {
    height: 105px;
    background-color: rgb(227,95,95);
    font-family: 'Droid Sans', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    position: relative;
}

#h_main_menu ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 44px;
    border-top: 1px solid rgb(112,36,36);
    margin-left: 17px;
}

#h_main_menu ul li.mm_element {
    float: left;
    font-size: 1.2em;
    padding-top: 19px;

}

#h_main_menu ul li.mm_margin_left {
    margin-left: 20px;
}

#h_main_menu ul li.mm_selected {
    border-top: 3px solid rgb(112,36,36);
    margin-top: -2px;
}

#h_main_menu ul li a {
    text-decoration: none;
    cursor: auto;
    color: rgb(112,36,36);
}

#h_main_menu ul li a:hover {
    color: white;
}


#content {
    text-align: center;
}

#subcontent {
    background: none;
    width: 960px;
    display: inline-block;
    text-align: left;
    border-top: 1px solid rgb(227,95,95);
    margin-top: 25px;
    padding-top: 5px;
}

/*



#subcontent h2, #subcontent h3 {
    font-family: 'Ubuntu', sans-serif;
}

.info_panel {
    width: 270px; 
    height: 230px;
    margin: 25px 23px;
    display: inline-block;
    position: relative;
    float: left;
    overflow: hidden;
}

.info_panel h3.panel_title {
    font-family: 'Ubuntu', sans-serif;
    color: #484848;
    text-shadow: 1px 1px 1px #CCC;
    padding: 0 3px;
}


.slider {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    bottom: 0;
    width: 270px;
    line-height: 50px;
    vertical-align: bottom;
    text-align: center;
}

.slider a {
    color: #dd4814;
    bottom: 3px;
}

.slider a:hover {
    color: #dd4814;
}

#footer {
    width: 960px;
    display: inline-block;
    text-align: right;
    border-top: 1px solid #E8E7E6;
    background: #F4F3F2;
    color: #999;
    font-size: .8em;
}

#footer a {
    color: #777;
    font-weight: bold;
}

.simple_table {
    
}

.simple_table td {
    padding: 4px 7px;
}
*/