/* 
    Document   : general.css
    Created on : 4/04/2013, 07:36:11 PM
    Author     : reuhtte
    Description:
        Purpose of the stylesheet follows.
*/

body {
    margin: 0;
    font-family: Arial, serif;
    font-size: 12px;
    background-image: url("/images/main-bg.png");
    background-repeat: repeat;
    text-align: center;
}

body a {
    text-decoration: none;
}

#header {
    /*background-image: url("/images/header.png");*/
    /*background-repeat: repeat;*/
    /*background-position: left top;*/
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(250,250,250,0.1) 75%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(250,250,250,0.1) 75%);

    /* Opera */ 
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(250,250,250,0.1) 75%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,0.8)), color-stop(.75, rgba(250,250,250,0.1)));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(250,250,250,0.1) 75%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(250,250,250,0.1) 75%);
    
    height: 126px;
    /*opacity: 0.3;*/
    text-align: center;
}

#h_main {
    float: right;
    text-align: right;
    margin-top: 35px;
    
}

#h_main_text {
    font-size: 1.8em;
    font-family: 'Trykker', serif;
    color: rgb(19,35,91);

    margin-right: 170px;
}

#h_submain_text {
    border-top: 1px solid rgb(166,25,49); 
    font-family: 'Trykker', serif;
    color: rgb(19,35,91);
    font-size: 1.5em;
    margin-right: 170px;
}

#h_main_menu {
    float: left;
    width: 650px;
    margin-top: 40px;
    height: 105px;
    background-color: rgb(166,25,49);
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    position: relative;
    /*opacity: 1.8;*/
}

#h_main_menu ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 44px;
    border-top: 1px solid white;
    margin-left: 17px;
}

#h_main_menu ul li.mm_element {
    float: left;
    font-size: 1.2em;
    padding-top: 19px;

}

#h_main_menu ul li.mm_margin_left {
    margin-left: 17px;
}

#h_main_menu ul li.mm_selected {
    border-top: 3px solid white;
    margin-top: -2px;
}

#h_main_menu ul li a {
    text-decoration: none;
    cursor: auto;
    color: white;
}

#h_main_menu ul li a:hover {
    color: white;
}


#content {
    text-align: center;
}

#subcontent {
    background: none;
    width: 960px;
    display: inline-block;
    text-align: left;
    border-top: 1px solid rgb(166,25,49);
    margin-top: 25px;
    padding-top: 5px;
}

#subcontent .page_header {
    border-top: 3px solid rgb(166,25,49); 
    background-color: #ccc; 
    font-family: 'Trykker', serif;
    font-size: 1.6em; 
    color: rgb(166,25,49); 
    padding: 5px 45px;
}

#subcontent .page_content {
    background-color: white; 
    border: 0; 
    margin: 0; 
    padding: 0; 
    font-family: 'Droid Sans', sans-serif;
}

#subcontent .page_content h2 {
    color: rgb(166,25,49);
}

#subcontent .page_content h3 {
    color: #222;
}

#subcontent .page_content p {
    color: #555;
}

#subcontent .page_content a {
    text-decoration: none;
    color: black;
}

#subcontent .page_content .etabs {
    list-style: none;
    margin: 0;
    padding: 0;
}

#subcontent .page_content ul.etabs li {
    margin: 10px;
}

#subcontent .page_content .tab {
    display: table-cell; 
    width: 195px; 
    padding: 30px; 
    
    vertical-align: middle;
    text-align: center;
    font-family: 'Bevan', cursive; 
    font-size: 1em;
    color: white;
}


#subcontent .page_content .tab.default.active { 
    background-image: none;
    background-color: rgb(166,25,49); 
}

#subcontent .page_content .tab.default {
    background-image: url("/images/header.png");
    background-repeat: repeat;
}

#subcontent .page_content .tab:hover {
    background-image: none;
    background-color: rgb(176,130,118);
}

#subcontent .page_content .tab_separator {
    display: table-cell; 
    width: 10px;
}

#subcontent .page_content .tab_content {
    background: white;
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
}

.info_panel {
    /*width: 270px;*/ 
    margin: 25px 23px;
    display: inline-block;
    position: relative;
    float: left;
    overflow: hidden;
}

.info_panel h3.panel_title {
    font-family: 'Ubuntu', sans-serif;
    color: #484848;
    text-shadow: 1px 1px 1px #CCC;
    padding: 0 3px;
}


.slider {
    position: absolute;
    background-color: rgba(166,25,49,0.8);
    bottom: 0;
    /*width: 270px;*/
    width: 100%;
    line-height: 50px;
    vertical-align: bottom;
    text-align: center;
    color: black;
}

.slider a:hover {
    font-weight: bold;
}

.hide {
    height: 10px;
    background-color:rgb(130,130,145);
    padding:5px;
    color:rgb(240,240,240);
    font-weight: bold;
    font-family: 'Droid Sans', sans-serif;
    font-size: .8em;
    display: none;
}

.hideRight {
    height: 9px;
    background-color:rgb(130,130,145);
    padding:5px;
    color:rgb(240,240,240);
    font-weight: bold;
    font-family: 'Droid Sans', sans-serif;
    font-size: .5em;
}

/*
#footer {
    width: 960px;
    display: inline-block;
    text-align: right;
    border-top: 1px solid #E8E7E6;
    background: #F4F3F2;
    color: #999;
    font-size: .8em;
}

#footer a {
    color: #777;
    font-weight: bold;
}

.simple_table {
    
}

.simple_table td {
    padding: 4px 7px;
}
*/